/*body
{
	margin:0px;
	padding:0px;
	font-family:Verdana;
	background:url(C:\reactstaff\reactstaffjs\src\vv.jpg);
	background-size:cover
}
img{
	width :50px;
	position:relative;
	top:-40px;
	left:50%;
}*/